


<!DOCTYPE html>

<html lang ="en">

	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<title>Local Weather</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="wStyle.css">

	
		
	</head>
	
	<body class = "bg-secondary text-white">
		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>

		</div>

		<div>
			<p class = "huge middle bg-white"> The Local Weather </p>
		</div>
		
		<div>
			
			<div class = "middle myBorder" id = "app">
				<div v-if="!loading">
					<img src = "https://2.bp.blogspot.com/_lj_y7Z_fw94/S7hJYY0udEI/AAAAAAAAA14/P-cNKvMZBV0/s1600/sun+animated+clip+art.gif" width = "30%">
					<p class = "huge"> Loading... </p> 
				</div>
				<div class = "big text-white theBorder" v-else>
					
					<p> Location: {{location}}</p>
					<p> Current Forcast <br> Temperature: {{cBox.temp}}F <br> 
						Sky Condition: {{cBox.sky}}<br>Humidity: {{cBox.humid}}%<br> Pressure: {{cBox.pressure}}hPa
					<br> Click on the boxes below to rate what weather is likly or unlikly to happen. <br>
						Default: {{dCount}} Unlikely: {{unCount}} Likely: {{lCount}} </p>
				</div>

				<div class = "row">
					<div class = " middle myBorder column big" v-for = "(wBox, idx) in wBox">

							<p class = "yellow" v-if="wBox.clicked == 0"
							v-bind:data-index = "idx"
							v-on:click = "toggle"					
							>Forcast Default <br>Date: {{wBox.time}}  <br> Temperature: {{wBox.temp}}F <br> 
							Sky Condition: {{wBox.sky}}<br>Humidity: {{wBox.humid}}%<br> Pressure: {{wBox.pressure}}hPa </p>

							<p class = "red" v-else-if="wBox.clicked == 1"
							v-bind:data-index = "idx"
							v-on:click = "toggle"
							> Forcast Unlikely <br> Date: {{wBox.time}}  <br> Temperature: {{wBox.temp}}F <br> 
							Sky Condition: {{wBox.sky}}<br>Humidity: {{wBox.humid}}%<br> Pressure: {{wBox.pressure}}hPa </p>
							
							<p class = "green" v-else="wBox.clicked == 2"
							v-bind:data-index = "idx"
							v-on:click = "toggle"
							> Forcast Likely <br> Date: {{wBox.time}}  <br> Temperature: {{wBox.temp}}F <br> 
							Sky Condition: {{wBox.sky}}<br>Humidity: {{wBox.humid}}%<br> Pressure: {{wBox.pressure}}hPa</p>					

						
					</div>
				</div>	

			</div>
			
		
		</div>
		
		<script type="text/javascript">
			
			//Carter's API_keys please get your own. :)
			var ipKey = 'f573e21a2195d0b657c9066856911fd3';
			var mapKey= '3421d50e55b7e0160e699fbff9b06f00'
			//making var for data to use in code
			var ipData;
			var mapData;
			var currentData;
			var mapUrl;
			var currentInfo;
			// url that links to ipstack for location
			var ipUrl =  `http://api.ipstack.com/check?access_key=${ipKey}`;
			// loading text
			var loading = false;
			//fetching location
			fetch(ipUrl)
				.then(r => r.json())
				.then(json => {
					// store data of location in ipData
					ipData = json;
					//getting latitude and longitude
					let lat = ipData.latitude;
					let lon = ipData.longitude;
					// setting up GET request for openweathermap. 
					// needs latitude and longitude to get location for weather.
					mapUrl = `http://api.openweathermap.org/data/2.5/forecast?lat=${lat}&lon=${lon}&units=imperial&APPID=${mapKey}`;
					var currentUrl = `http://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&units=imperial&APPID=${mapKey}`;
					// returning fetch so code can run after latitude and longitude is found.
					return fetch(currentUrl)
					})
					.then(r => r.json())
					.then(json => {
						currentData = json;
						console.log(mapUrl, "HELLO");
						currentInfo = {temp: currentData.main.temp, sky:currentData.weather[0].main , humid: currentData.main.humidity, pressure: currentData.main.pressure };
					
					return fetch(mapUrl)
					})
					//because we are returning a promise we can call the .then function.
					.then(r => r.json())
					.then(json => {	
					//mapData has all the weather info from the ip location.
					mapData = json;
					// making a list for 3 hour weather info. time, temp, sky conditions, humidity, and pressure.
					var weatherInfo = [];
					for(i in mapData.list){
					let hold = {clicked: 0, time: mapData.list[i].dt_txt, temp: mapData.list[i].main.temp, 
						sky: mapData.list[i].weather[0].main, humid: mapData.list[i].main.humidity, 
						pressure: mapData.list[i].main.pressure};
						// adding weather info to the list
						weatherInfo.push(hold);
					}			
					
					// loading done can set loading to true
					loading = true;
					// Using vue to make an app.
					var app = new Vue({
						el: '#app',
						// All the data used in vue
						data: {
							// wBox is the list of weather info.
							wBox:weatherInfo,
							location: mapData.city.name,
							loading: loading,
							cBox:currentInfo,
							
						},
						methods:{
							// toggle changes the box to yellow, red, green
							toggle: function(ev){
								let idx = ev.target.getAttribute('data-index');
								if (this.wBox[idx].clicked == 0){
									this.wBox[idx].clicked = 1;
								}
								else if (this.wBox[idx].clicked == 1){
									this.wBox[idx].clicked = 2;
								}
								else if (this.wBox[idx].clicked == 2){
									this.wBox[idx].clicked = 0;
								}
							}
						},
						computed:{
							// finds the number of yellow boxs
							dCount: function(){
								let count = 0;
								for(item of this.wBox){
									if(item.clicked == 0){
										count++;
									}
								}
								return count;
							},
							// finds the number of red boxs
							unCount: function(){
								let count = 0;
								for(item of this.wBox){
									if(item.clicked == 1){
										count++;
									}
								}
								return count;
							},
							// finds the number of green boxs
							lCount: function(){
								let count = 0;
								for(item of this.wBox){
									if(item.clicked == 2){
										count++;
									}
								}
								return count;
							},					
						},
					});

				});											
		</script>
	</body>
</html>