<style type="text/css">

.nothingInHere{}

.Cool {
	background-color: navy;
	font-family: "Courier New";
}
.big{
	font-size: 25px;
}
.huge{
	font-size: 50px;
}
a{
	font-size: 20px;
	color: #45aacc;
}
div{

	padding: 0.1px;
	}
.myBorder{
	margin: 50px;
	border-style: solid;
	border-width: 5px;
	border-radius: 50px;
	font-weight: bold;
	background-color:#4682B4;
	color: black;	
	padding: 25px;	
}
.theBorder{
	border-style: solid;
	border-width: 5px;
	border-radius: 50px;
	font-weight: bold;
	background-color:#4682B4;
	color: black;	

	
}
.space{
	padding: 25px;
	
}

.marg{
	margin: 20px;
}

.resize{
	height: 85px;
	width: 300px;
	font-size: 25px;
}

.red{
	background-color: red;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}

.text-white{
	color: white;
}

.bg-secondary{
	background-color: #6C757D;
}
			
a:hover {
	color: blue;
}

body{
	margin: 0px;
}


.middle{
	text-align: center;
	margin: auto;
}




.medium{
	font-size: 25px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 22.5%;
  padding-left: 10px;
  padding-right: 10px;

 
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 5px;
  color: black;
}




</style>